In [2]:
!pip3 install nltk==3.4.5
import numpy as np
import pandas as pd
import statistics
import nltk
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer

Collecting nltk==3.4.5
  Downloading https://files.pythonhosted.org/packages/f6/1d/d925cfb4f324ede997f6d47bea4d9babba51b49e87a767c170b77005889d/nltk-3.4.5.zip (1.5MB)
Requirement already satisfied: six in d:\anaconda\lib\site-packages (from nltk==3.4.5) (1.15.0)
Building wheels for collected packages: nltk
  Building wheel for nltk (setup.py): started
  Building wheel for nltk (setup.py): finished with status 'done'
  Created wheel for nltk: filename=nltk-3.4.5-cp38-none-any.whl size=1449912 sha256=7b9f5af723e5ebe57011fc2645ac78f62a8dcdba6c61dd43977c79ee12feb4d1
  Stored in directory: C:\Users\Soham\AppData\Local\pip\Cache\wheels\96\86\f6\68ab24c23f207c0077381a5e3904b2815136b879538a24b483
Successfully built nltk

WARNING: You are using pip version 19.2.3, however version 20.2.3 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

Installing collected packages: nltk
  Found existing installation: nltk 3.5
    Uninstalling nltk-3.5:
      Successfully uninstalled nltk-3.5
Successfully installed nltk-3.4.5

In [5]:
train_col_names = ['qid', 'question_text', 'target']
train_data = pd.read_csv('train.csv', names=train_col_names, skiprows=1)
train_data.head()

,qid,question_text,target
0,6f47b0f60633c2056455,"How can I reply to this comment, ""India is poo...",0
1,d49b3966070b27bf07fc,What did they use for transportation in Ancien...,0
2,6d5faa49380557c8ca7b,What are the most important provisions of Obam...,0
3,cebea75faa47388edcf5,At what age do most Finns master English today?,0
4,2a7b76a679cadb0a016e,What is cheapest place to live in India for on...,0

In [6]:
train_data.tail()

,qid,question_text,target
783668,8462d2ead608fe1dcf9b,What causes a lump on the back of your head?,0
783669,12d225a4e28317c02151,What is standalone in simple way?,0
783670,03edc045cadbb11558dd,How do you prevent having low potassium while ...,0
783671,c6fb7dc8d0b34160dbe4,What is it like to meet the band Imagine Dragons?,0
783672,6a58b525dc9ccaf25b72,"How can I find an intelligent, well reasoned p...",1

In [7]:
train_ids = train_data.qid.tolist()
train_questions = train_data.question_text.tolist()

In [8]:
train_labels = train_data.target.values.tolist()

In [9]:
print(train_ids[:5])
print(train_questions[:5])
print(train_labels[:5])

['6f47b0f60633c2056455', 'd49b3966070b27bf07fc', '6d5faa49380557c8ca7b', 'cebea75faa47388edcf5', '2a7b76a679cadb0a016e']
['How can I reply to this comment, "India is poor. It is a fact. I don\'t understand the unnecessary criticism of Snapchat CEO\'s statement"?', 'What did they use for transportation in Ancient India?', 'What are the most important provisions of Obamacare?', 'At what age do most Finns master English today?', 'What is cheapest place to live in India for one month which best suits for tourism also?']
[0, 0, 0, 0, 0]

In [10]:
test_col_names = ['qid', 'question_text']
test_data = pd.read_csv('test.csv', names=test_col_names, skiprows=1)
test_data.head()

                    qid                                      question_text
0  f56a9a31974dc66186e8  Is it a good idea to go through a phlebotomy c...
1  d957c3758060f45da303  How can I fix a lead into a camlin compass to ...
2  ad822d5abaedb9e247b9                How many animes are there in world?
3  4e979c23eeb6a4bd1f2e                     How do I tell my family I cut?
4  333cc031262566b8da49  How do I save down my bitcoin image address fr...

In [11]:
test_data.tail()

,qid,question_text
522444,e8e6aa5226f36c27fe41,"In terms of absolute passion and leadership, w..."
522445,015fd068afcb9d0b4007,How do I make my orthodox Indian parents accep...
522446,9f0ef49eff6a3ff9e735,How can air force officers go to ranger school?
522447,d6b02f52f76dc4c22afd,Why does my brothers cow kick me all the time?
522448,132ef601b08de269aee9,How was Japan's national animal chosen?

In [13]:
test_ids = test_data.qid.tolist()
test_questions = test_data.question_text.tolist()

In [14]:
print(test_ids[:5])
print(test_questions[:5])

['f56a9a31974dc66186e8', 'd957c3758060f45da303', 'ad822d5abaedb9e247b9', '4e979c23eeb6a4bd1f2e', '333cc031262566b8da49']
['Is it a good idea to go through a phlebotomy class before going into nursing school next year? Will it give me any advantage at all?', 'How can I fix a lead into a camlin compass to draw arcs, circles in engineering graphics?', 'How many animes are there in world?', 'How do I tell my family I cut?', 'How do I save down my bitcoin image address from coinbase?']

In [19]:
nltk.download('stopwords')
stop_words = set(stopwords.words('english'))
ps = PorterStemmer()
print(stop_words)
print(len(stop_words))

{'him', 'any', 'at', 'through', 'again', 'had', 'where', 'ours', "it's", 'few', "isn't", 'ma', 'hasn', 'didn', 'me', 'them', 'i', 'being', 'what', 'during', 'against', 'down', 'in', "don't", 're', "mightn't", 'here', 'under', 'your', 'did', 's', 'those', 'over', 'wasn', 'same', 'ourselves', 'the', "wasn't", "hasn't", 'until', 'we', 'but', 'will', 'by', 'more', 'so', 'needn', "haven't", 'are', 'below', 'of', 'too', 'have', 'it', 'how', "she's", "won't", 'aren', "aren't", 'very', 'a', 'my', 'further', 'this', 'haven', 'themselves', 'both', 'don', 'their', 'her', 'some', "needn't", 'll', "wouldn't", "couldn't", 'for', 'while', 'is', 'd', "hadn't", 'because', 'who', 'shouldn', 'weren', 'yourself', 't', 'can', "mustn't", 'there', "you're", 'myself', 'doing', 'these', 'on', 'such', 'between', 'from', 'hers', 'why', 'having', "you'll", 'mustn', 'does', 'doesn', 'once', 'not', 'own', 'his', 'wouldn', 'y', 've', 'be', 'won', 'shan', "weren't", 'was', 'only', 'isn', 'were', 'has', 'about', 'hadn', 'herself', 'then', 'himself', 'he', 'nor', 'our', 'an', 'now', "didn't", "should've", 'that', 'been', 'off', 'ain', 'theirs', 'when', 'after', 'no', 'as', 'couldn', 'itself', 'out', 'mightn', "shouldn't", 'do', 'yourselves', "shan't", 'am', 'into', 'each', 'all', 'you', 'if', 'before', 'just', 'm', 'should', 'yours', "you've", 'above', 'than', 'to', 'most', 'up', "you'd", 'or', 'with', "that'll", 'and', 'other', 'whom', 'she', 'o', 'which', 'its', 'they', "doesn't"}
179

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Soham\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [20]:
def clean_stemm_stopwords(input_list):
  filtered_op = []
  
  for sample in input_list:
    temp_sample = ''
    words_in_temp_sample = sample.split()
    for word in words_in_temp_sample:
      if not word in stop_words:
        temp_word = ps.stem(word)
        temp_sample += (temp_word + ' ')
    filtered_op.append(temp_sample)

  return filtered_op

In [24]:
train_questions_filtered = clean_stemm_stopwords(train_questions)
test_questions_filtered = clean_stemm_stopwords(test_questions)

In [25]:
print(train_questions_filtered[:5])
print(test_questions_filtered[:5])

['how I repli comment, "india poor. It fact. I understand unnecessari critic snapchat ceo\' statement"? ', 'what use transport ancient india? ', 'what import provis obamacare? ', 'At age finn master english today? ', 'what cheapest place live india one month best suit tourism also? ']
['Is good idea go phlebotomi class go nurs school next year? will give advantag all? ', 'how I fix lead camlin compass draw arcs, circl engin graphics? ', 'how mani anim world? ', 'how I tell famili I cut? ', 'how I save bitcoin imag address coinbase? ']